@import 'tailwindcss';

@theme {
  --color-emerald: rgb(2, 90, 78);
  --color-white: rgb(237, 231, 222);

  --bg-backdrop: rgba(237, 231, 222, 0.7);

  @keyframes gradient-move {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}